<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">

            {{ $title := .Page.Title}}
            {{if isset $title .Site.Home.Title }}
            {{ $title = .Site.Home.Title}}
            {{end}}
            <title> {{ $title }}</title>
        </head>
        <body>
            <p>single.html</p>            
            <h1></h1>
            <table>
                <tr>
                    {{$nexttitle := "Önceki sayfa yok"}}
                    {{$nextlink := "#"}}
                    {{ with .NextInSection }}
                    {{$nexttitle = .Page.Title}}
                    {{$nextlink = .Permalink}}
                    {{end}}
                    <th><a href="{{$nextlink }}">{{$nexttitle}}</a></th>

                    {{ $title := .Parent.Title }}
                    {{ if isset $title .Site.Home.Title }}
                    {{ $title = "Ana Sayfa" }}
                    {{ end }}
                    <th><a href="{{ .Parent.Permalink }}"> << Üst Menü >> </a></th>

                    {{$prevtitle := "Sonraki sayfa yok"}}
                    {{$prevlink := "#"}}
                    {{ with .PrevInSection }}
                    {{$prevtitle = .Page.Title}}
                    {{$prevlink = .Permalink}}
                    {{end}}
                    <th><a href="{{$prevlink }}">{{$prevtitle}}</a></th>

                </tr>
            </table>


            {{ .Content }}
        </body>
    </html>